**Apply**

In [6]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'gruplar':["A","B","C","A","B","C"],
                  'degisken1':[10,50,40,320,70,10],
                  'degisken2':[60,40,44,35,78,99]},
                   columns=['gruplar','degisken1','degisken2'])
df

  gruplar  degisken1  degisken2
0       A         10         60
1       B         50         40
2       C         40         44
3       A        320         35
4       B         70         78
5       C         10         99

In [7]:
df.apply(np.sum)

gruplar      ABCABC
degisken1       500
degisken2       356
dtype: object

In [9]:
df.groupby("gruplar").apply(np.mean)

         degisken1  degisken2
gruplar
A            165.0       47.5
B             60.0       59.0
C             25.0       71.5