**Pandas DataFrame Oluşturma**

In [1]:
import pandas as pd

In [2]:
l = [1,2,3,6,5,4]
l

[1, 2, 3, 6, 5, 4]

In [5]:
import numpy as np
m = np.arange(1,10).reshape((3,3))
m

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [6]:
pd.DataFrame(m, columns=["var1","var2","var3"])

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

**DataFrame İsimlendirme**

In [7]:
df = pd.DataFrame(m, columns = ["var1","var2","var3"])
df.head()

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

In [9]:
df.columns = ("deg1","deg2","deg3")
df

   deg1  deg2  deg3
0     1     2     3
1     4     5     6
2     7     8     9

In [10]:
type(df)

pandas.core.frame.DataFrame

In [11]:
df.axes

[RangeIndex(start=0, stop=3, step=1),
 Index(['deg1', 'deg2', 'deg3'], dtype='object')]

In [12]:
df.shape

(3, 3)

In [13]:
df.ndim

2

In [14]:
df.size

9

In [16]:
df.values

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [17]:
type(df.values)

numpy.ndarray

In [19]:
df.head()

   deg1  deg2  deg3
0     1     2     3
1     4     5     6
2     7     8     9

In [20]:
df.tail(1)

   deg1  deg2  deg3
2     7     8     9

In [21]:
a = np.array([1,2,3,4,5])

In [22]:
pd.DataFrame(a, columns = ["deg1"])

   deg1
0     1
1     2
2     3
3     4
4     5