**Transform**

In [2]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'gruplar':["A","B","C","A","B","C"],
                  'degisken1':[10,50,40,320,70,10],
                  'degisken2':[60,40,44,35,78,99]},
                   columns=['gruplar','degisken1','degisken2'])
df

  gruplar  degisken1  degisken2
0       A         10         60
1       B         50         40
2       C         40         44
3       A        320         35
4       B         70         78
5       C         10         99

In [3]:
df['degisken1']*9

0      90
1     450
2     360
3    2880
4     630
5      90
Name: degisken1, dtype: int64

In [11]:
df_a = df.iloc[:,1:3]

In [15]:
df_a.transform(lambda x : (x-x.mean()) / x.std())

   degisken1  degisken2
0  -0.620075   0.026674
1  -0.281852  -0.773540
2  -0.366408  -0.613497
3   2.001152  -0.973593
4  -0.112741   0.746866
5  -0.620075   1.587090